<footer class = 'flex justifyContent' id = 'footer'>
    <small class = 'flex alignItems justifyContent'>For Everything Priconne &copy; choir</small>
    <ul class = 'icons flex alignItems'>
        <li class = 'flex alignItems'><a target = '_blank' href = 'https://www.facebook.com/richard.choi.54772/about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248'><i class="fa-brands fa-facebook-f"></i></a></li>
        <li class = 'flex alignItems'><a target = '_blank' href = 'https://www.linkedin.com/in/richard-choir/'><i class="fa-brands fa-linkedin"></i></a></li>
        <li class = 'flex alignItems'><a target = '_blank' href = 'https://www.instagram.com/225kh_drw/?hl=en'><i class="fa-brands fa-instagram"></i></a></li>
        <li class = 'flex alignItems'><a target = '_blank' href = 'https://twitter.com/choir241'><i class="fa-brands fa-twitter"></i></a></li>
    </ul>
      <nav class = 'flex justifyContent alignItems'>
                <ul class = 'flex justifyContent alignItems'>
                    <li class = 'flex justifyContent alignItems'><a class = 'button' href="/">Home</a></li>
                    <li class = 'flex justifyContent alignItems'><a class = 'button' href="/post/about">About</a></li>
                    <li class = 'flex justifyContent alignItems'><a class = 'button' href="/post/comics">Comics</a></li>
                    <li class = 'flex justifyContent alignItems'><a class = 'button' href="/post/contact">Contact</a></li>
                </ul>
            </nav>
</footer>