<header class = 'flex alignItems column' id = 'header'>
  <h1 class = 'flex justifyContent'>Priconne</h1>
  <h2>For Everything Princess:Connect Re-Dive</h2>        
  <nav>
    <ul class = 'flex justifyContent alignItems'>
      <li><a class = 'button' href="/dashboard">Dashboard</a></li>
      <li><a class = 'button' href="/post">Characters</a></li>
      <li><a class = 'button' href="/auth/logout">Logout</a></li>
      <li><a class = 'button' href = '/post/add'>Add Character <i class = 'fas fa-plus'></i></a>
    </ul>
  </nav>
  
</header>

   