<header class = 'flex alignItems column' id = 'header'>
    <h1 class = 'flex justifyContent'>Priconne</h1>
    <h2>For Everything Princess:Connect Re-Dive</h2>

        <nav>
            <ul class = 'flex alignItems'>
                <li><a class = 'button' href="/">Home</a> </li>
                <li><a class = 'button' href="/main/about">About</a></li>
                <li><a class = 'button' href="/main/comics">Comics</a></li>
                <li><a class = 'button' href="/main/contact">Contact</a></li>

            </ul>
        </nav>
   <div class = 'flex justifyContent google'><a href = '/auth/google' class = 'button'><i class = 'fab fa-google left'></i>Log In With Google </a></div>

</header>