<section class = 'add flex column alignItems' id = 'add'>
    <h2 class = 'heading'>Edit your Post!</h2>    
    <form action="/post/{{post._id}}" method="POST"  class = 'flex column alignItems'>
        <input type = "hidden" class="_method" value="PUT">
        <input type="hidden" name="_method" value="PUT">

            <div class = 'flex div input'>
                <div class = 'alignItems column flex'>
                    <h2>Title: </h2><input required="required" value = '{{post.title}}' type = 'text' id = 'name' name = 'title'>
                </div>

                <div class = 'flex alignItems column'>
                    <h2>Status:</h2>
                    <select id="status" name="status" class = 'button'>
                        {{#select post.status}}
                        <option value="public" selected>Public</option>
                        <option value="private">Private</option>
                        {{/select}}
                    </select>
                </div>
            </div>

        {{!-- For security reasons, there is no default value shown here --}}
        <div class ='flex div'>
           <div class = 'alignItems column flex'>
                <h2>Image:</h2> <input type = "file" name = "file" id = 'file'>
            </div>
        </div>
   
    
        <div class = 'flex div text'>
            <div class = 'alignItems column flex'>
                <h2>Text: </h2><textarea class = 'text' required = 'required' id = 'body' name = 'text'>{{post.text}}</textarea>
            </div>
        </div>

        <button  class = 'button' type = 'submit' id = 'submit'>Submit</button>

    </form>
</section>