<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' href = '/css/reset.css'>
    <link rel='stylesheet' href = '/css/normalize.css'>
    <link rel='stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css?'>
    <link rel='stylesheet' href = '/css/style.css'>
    <link rel='stylesheet' href = '/css/mediaQueries.css'>
    
    <title>Priconne Characters</title>
</head>
<body class = 'flex column'>
        <main class = 'flex column alignItems justifyContent'>   
            {{> _main_mediaQueryMenu}}
             {{> _main_header}}
        {{{body}}}
    </main>
 {{> _footer}}

<script src="https://kit.fontawesome.com/2c7fc28a2f.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>