<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priconne</title>
	<link rel="stylesheet" href="/css/normalize.css">
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/mediaQueries.css'>
</head>

    <body class = 'flex column alignItems justifyContent' id = 'received'>
        <main class = 'flex column alignItems justifyContent'>

<section class = 'flex column alignItems justifyContent'></section>
            <h2>Your request was sent successfully!!</h2>
            <a href = '/'>Click Here to go back home!</a> 
        </section>
            </main>
    
    <script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        </body> 
    </html>