/* General
   ========================================================================== */

.dropdown-content, .select-dropdown, path{
    display: none;
}

.select-dropdown{
    cursor: pointer;
}

/* Box Model Hack */
*,
*:before,
*:after {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html{
font-size: 62.5%;
}

.flex{
     display: flex;
}

.column{
     flex-direction: column;
}

.row{
     flex-direction: row;
}

.justifyContent{
     justify-content: center;
}

.alignItems{
     align-items: center;
}

li{
     list-style-type: none;
}

a{
     text-decoration: none;
}

.hidden{
     display: none;
}

body{
     background: no-repeat url('/css/assets/background4.webp') center/cover;
}

#nav{
     display: none;
}


h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3, i{
    font-size: 3.5rem;
}

h4{
    font-size: 3rem;
}

h5{
    font-size: 3rem;
}

h6{
    font-size: 2rem;
}

li, a, p{
    font-size: 2rem;
}

small{
    font-size: 1.5rem;
}

.button{
     background: none;
     border: 2px solid white;
     padding: 1rem;
     font-size: 3rem;
     border-radius: 5px;
}

.button:hover{
    text-decoration: none;
    cursor: pointer;
    background: rgb(187, 187, 187,.4);
}

i:hover{
    color: rgb(187, 187, 187,.4);
}

.button a, .button, p, h1, h2, h3, h4, h5, h6, i, span, small, a, li{
     color: white;
}


/* Header
   ========================================================================== */

header h2{
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid white;
}

header h1{
    width: 100%;
    border-top: 3px solid white;
    padding-top: 2rem;
}

header{
    padding-bottom: 12rem;
}

header nav{
    padding-bottom: 4rem;
}

header nav, header nav ul{
    width: 100%;
}

header ul{
    justify-content: space-around;
}



/* Footer
   ========================================================================== */

footer{
    padding-bottom: 4rem;
}

#footer nav, #footer{
    width: 80%;
}

footer nav ul li, footer nav ul{
    height: 100%;
}

#footer .icons{
    width: 50%;
    margin: 2rem;
    padding: 2rem;
}

footer small{
    width: 60%;
}

footer ul, footer .icons, footer{
    justify-content: space-around;
}

footer a{
    font-size: 3rem;
}

footer nav, footer nav ul li, footer nav ul{
    width: 100%;
}

footer li:hover, footer a:hover{
    color:rgb(216, 191, 191);
    text-decoration: none;
}

/* About
   ========================================================================== */

#about .video{
    position: relative;
}

#about .video img{
    width: 50%;
}

#about .video button{
    position: absolute;
    width: 10%;
    border-radius: 5px;
    background-color: rgb(0,0,0,.3)
}


#about #play{
    height: 12rem;
  }

#about #play:hover{
    background-color: rgb(0,0,0,.7)
}

#about #play:active{
    background-color: black;
}

#about p{
    color: white;
    font-size: 3rem;
    padding: 4rem;
}


#about{
    padding: 2rem;
    background: no-repeat url('/css/assets/background5.jpg') center/cover;
}

#about .logo{
    padding-top: 8rem;
    margin: -12rem;
}


/* Comics
   ========================================================================== */


   #comics img{
    width: 100%;
  }
  
  #comics article p{
  color: black;
  font-size: 2rem;
  width: 40%;
  text-align: center;
  }

  #myCarousel{
    width: 60%;
  }
  
  #comics article{
       justify-content: space-around;
       padding: 2rem;
  }
  
  #comics .gallery {
       width: 100%;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(14, 30vw);
      grid-template-rows: 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
       scroll-padding: 1rem;
      overflow: scroll;
      scroll-snap-type: both mandatory;
  }
  
  #comics .active {
      scroll-snap-type: unset;
  }
  
  #comics li {
      scroll-snap-align: center;
      display: inline-block;
      border-radius: 3px;
      font-size: 0;
  }
  
  #comics .comics{
       width: 100%;
       margin: 0rem 6rem 8rem 6rem;
  }
  
  #comics .strips{
       width: 100%;
       justify-content: space-around;
  }
  
  #comics{
    padding: 2rem;
       width: 100%;
       background: no-repeat url('/css/assets/Background.jpg') center/cover;
  }
  
  #comics article{
       padding: 2rem;
       margin: 2rem;
  }

  #comics{
    padding: 2rem;
  }
  
  #comics .gallery{
       height: 112vh;
       width: 100%;
     }

#myCarousel{
    padding-bottom: 8rem;
   margin-bottom: 12rem;
}
     

/* Contact
   ========================================================================== */

   #contact input, #contact p, #contact textarea{
    font-size: 2rem;
  }

  #contact input, #contact textarea{
    font-size: 4rem;
  }

  #contact h2{
    padding: 3rem;
    font-size: 4rem;
  }

  #contact h2,#contact input, #contact p, #contact textarea{
    color: white;
  }

 #contact{
    padding-bottom: 4rem;
    background: no-repeat url('/css/assets/background.webp') center/cover;
    width: 100%;
  } 



  #contact input, #contact textarea{
    width: 100%;
  }

  #contact textarea{
    height: 40vh;
    margin: 4rem;
  }
  
  main{
    min-width: 100%;
  }


/* Received
  ========================================================================== */

  #received{
    height: 100vh;
  }

  #received h2, #received span, #received a{
    font-size: 5rem;
    color: white;
  }


  #links section a{
    color: white;
    font-size: 4rem;
  }
/* Plus
   ========================================================================== */

   .plus{
    width: 100%;
}

.plus a{
    width: 50%;
}

.plus i{
    margin-left: 2rem;
    font-size: 5rem;
}

#plus a:hover{
    color: rgb(219, 196, 196);
}

/* Dashboard
  ========================================================================== */

#dashboard{
    padding-bottom: 2rem;
    min-height: 100vh;
    background: no-repeat url('/css/assets/background7.jpg') center/cover; 
}

#dashboard div a, #dashboard p, #dashboard h5, #dashboard h6, #dashboard h3{
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}
#dashboard h6{
    font-size: 3rem;
}

#dashboard h3{
    font-size: 4rem;
    margin-bottom: 4rem;
}

#dashboard h5{
    font-size: 3.5rem;
} 


#dashboard main{
    height: 100%;
}

#dashboard td{
    padding: 2rem;
}

#dashboard footer, #add footer, #characters footer, #edit footer, #dashboard section, #dashboard main{
    width: 100%;
}

#dashboard th, #dashboard td, #dashboard main a{
    color: white;
    font-size: 3rem;
}

#edit i, #delete i{
    color: black;
    padding: .5rem;
}

#edit, #delete{
    margin: .5rem;
}

#dashboard thead tr th{
    padding: 2rem;
}

tr{
    border: solid 2px white;
}

#dashboard table{
    margin: 4rem 0rem;
}

#dashboard td a:hover{
color:rgb(216, 191, 191);     
}

#edit:hover, #delete:hover, #dashboard td a:hover{
    cursor: pointer;
}

/* Show
  ========================================================================== */

#show section h1, #show section h5, #show section a, #show section p{
    font-size: 4rem;
    color: white;
    padding: 2rem;
}


.index h5, .index p, .index a{
    font-size: 3rem;
}

#show .character{
    font-size: 4rem;
    color: white;
}

#show .id{
    width: 100%;
}

body #nav{ overflow-x: hidden;
}


.index{
    width: 100%;
    flex-wrap: wrap;
}

.index div{
    padding: 2rem;
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem;
    width: 40%;
    background: black;
}


.index img, .index h5, .index p, .index a{
    padding: 2rem;
} 

#show a:hover{
    color: rgb(216, 191, 191);
}





#home #header span, #comics #header span, #contact #header span, #about #header span{
    border-bottom: 2px solid white;
}


/* Template
   ========================================================================== */
   #template .left,  #template .container-alt .right,#template div, #template .name img, #template p,#template blockquote{
    width: 100%;
}

#template h5, #template h1, #template main i, #template main a, #template h2, #template p, #template .user small, #template .user span{
    color: white;
}

#template h5, #template h1, #template main i, #template main  a{
    font-size: 5rem;
}

#template h2, #template .user small, #template .user span{
font-size: 3rem;
}

#template .name,#template .game{
    justify-content: space-around;
}

#template h2{
    text-align: center;
}


#template .right,#template .game .union{
    width: 40%;
}

#template .game .sprite{
    width: 30%;
}

#template .game .sprite, #template .container-alt .right img{
    width: 60%;
}

#template .guild img{
    width: 70%;
}
#template p,#template blockquote{
    border: none;
    padding: 1rem;
    margin: 1rem;
    line-height: 2.5rem;
}

#template{
    margin: 0rem 5rem;
    background: no-repeat url('/css/assets/background8.jpg') center/cover;
}

#template header{
    margin: 1rem; 
    padding: 1rem;
}

#template div div,#template .guild .chibi, #template .user, #template .name blockquote, #template .name img{
    padding: 2rem;
}

#template .game{
    padding: 0rem;
}

#template{
    padding: 3rem;
}

#template .user small, #template .user span{
    margin-bottom: 2rem;
}
#template .user div span{
    margin-right: 2rem;
}

#template blockquote p{
    font-size: 3rem;
}

#template .index p{
    width: 80%;
    line-height: 4rem;
    text-align: center;
}


   
/* Add
   ========================================================================== */

   #add select{
    width: 100%;
}

svg{
    display: none;
}

.select-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


#add .textarea{
    width: 80%;
}

#add .cke_chrome {
    display: flex;
    justify-content: center;
    border: none;
}

  #add h2, #add input{
    color: white;
  }


  #add h2{
    margin: 2rem;
    font-size: 3rem;
  }

  #add h3{
    color: white;
    font-size: 3rem;
}

#add input{
    width: 100%;
    height: 5;
    margin: 2rem;
}

#add textarea{
    width: 100%;
    height: 20vh;
}

#add textarea, #add input{
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 4rem;
    border-radius: 5px;
}


#add div{
padding: 2rem 4rem;
width: 100%;
justify-content: space-around;
}

#add .heading{
    font-size: 5rem;
}

#add{
    width: 100%;
    padding: 4rem;
    background: no-repeat url('/css/assets/background7.jpg') center/cover;
    margin: 0rem 5rem;
}


#add form{
    padding: 2rem;
}

#add #submit{
    width: 20%;
}


body#add input.button{
    height: 12vh;
    width: 80%;
  }

#add #submit{
    width: 40%;
}
