
/* General
   ========================================================================== */

.select-dropdown{
    cursor: pointer;
}

/* Box Model Hack */
*,
*:before,
*:after {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.flex{
     display: flex;
}

.column{
     flex-direction: column;
}

.row{
     flex-direction: row;
}

.justifyContent{
     justify-content: center;
}

.alignItems{
     align-items: center;
}

li{
     list-style-type: none;
}

a{
     text-decoration: none;
}

.dropdown-content, .select-dropdown, .hidden{
     display: none;
}

body{
     background: no-repeat url('../assets/background/blueSky.jpg') center/cover;
}

.index section, textarea, input, label, .button{
    border-radius: 5px;
}

.button{
    background: rgba(27, 31, 34, 0.85);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    box-shadow: inset 0 0 0 1px #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 1rem 1.25rem 1rem 1.35rem;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid white;
}   

.button:hover{
    text-decoration: none;
    cursor: pointer;
    background: rgb(187, 187, 187,.4);
    color: black;
}

i:hover{
    color: rgb(187, 187, 187,.4);
}

::placeholder, textarea, input, label, .button, p, h1, h2, h3, h4, h5, h6, i, td, th, span, small, a, li, nav i:hover{
     color: white;
}

.about h2{
    font-size: 3rem;
}

h1{
    font-size: 6rem;
    margin: 0rem;
    padding: 1rem 0rem 2rem 0rem;
}

img{
    width: 100%;
}

/* Header
   ========================================================================== */

header h1{
    margin-bottom: 1rem;
    padding: 2rem 0rem;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    width: auto;
    font-size: 4rem;
}

header ul{
    margin-top: 1rem;
    justify-content: space-around;
} 

header li{
    height: auto;
}

header{
    padding: 0rem 0rem 2rem 0rem;
}

.about{
    background: rgba(27, 31, 34, 0.85);
    border-radius: 10px;
    padding: 2rem;
    width: 85%;
}

header nav{
    width: 85%;
    padding-bottom: 0rem;
}

header.pages{
    padding-bottom: 0;
}

header.pages h1{
    margin-top: 1rem;
}

/* Footer
   ========================================================================== */


footer .icons{
    font-size: 2rem;
    width: 40%;
    padding: 2rem;
}

footer small{
    text-align: left;
    width: 30%;
}

footer .icons{
    justify-content: space-around;
}

footer{
    justify-content: space-evenly;
    padding: 0rem 2rem;
}


/* Comics
   ========================================================================== */

  #myCarousel{
    max-width: 40%;
    min-width: 40%;
  }

  #comics .active {
      scroll-snap-type: unset;
  }
  
  #comics li {
      scroll-snap-align: center;
      display: inline-block;
  }


/* Show
  ========================================================================== */

#show h2, #show h4, #show a{
font-size: 2rem;
text-transform: capitalize;
}

#show h2{
    padding-bottom: 3rem;
}

#show .post h2{
    padding-bottom: .5rem;
}

.posts{
    flex-wrap: wrap;
}

#show .post{
    padding: 2rem;
    background: rgba(27, 31, 34, 0.85);
    max-width: 20%;
}

#show .post:hover{
    cursor: pointer;
    background: rgb(187, 187, 187,.4);
}

#show .posts, #show .post{
    margin: 0rem 2rem;
}

.icons i{
    font-size: 2rem;
    padding: .5rem 0rem;
}

.icons span{
    margin-left: 1rem;
    margin-right: 1rem;
}

.icons{
    padding: 0rem 0rem .5rem 0rem;
    margin: 0rem;
}

.post a{
    padding: .5rem;
    padding-bottom: 0rem;   
    margin: 0rem;
}

.post .button{
    padding: .8rem;
}

.buttons{
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
}


/* Add
  ========================================================================== */

#add{
    min-width: 54rem;
    background: rgba(27, 31, 34, 0.85);
    margin-top: 4rem;
    border-radius: 4px;
}


#add .input{
    background: none;
    margin: 1rem;
}


#add .submit{
    width: 30%;
}


#add .form section, #add .submit, #add textarea, #add .buttons section, #add .input{
    padding: 1rem;
}

#add textarea{
    resize: none;
    background: none;
    margin: 1rem;
    height: 20vh;
}

#add .form{
    justify-content: space-evenly;
}

#add form h2{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

#add .form section, #add .form .button, #add form, #add input, #add textarea, #add .buttons div label, #add .buttons div select{
    width: 100%;
}

#add input, #add textarea{
    border: 1px solid white;
}

#add form{
    padding: 2rem;
}

#add .form select{
    padding: 1.2rem;
}


/* Dashboard
  ========================================================================== */

/* #dashboard{
    padding-bottom: 2rem;
    min-height: 100vh;
}

#dashboard div a, #dashboard p, #dashboard h5, #dashboard h6, #dashboard h3{
    margin-bottom: 2rem;
}

#dashboard h3{
    margin-bottom: 4rem;
}

#dashboard main{
    height: 100%;
}

#dashboard td{
    padding: 2rem;
}

#dashboard footer, #add footer, #characters footer, #edit footer, #dashboard section, #dashboard main{
    width: 100%;
}

#edit i, #delete i{
    color: black;
    padding: .5rem;
}

#edit, #delete{
    margin: .5rem;
}

#dashboard thead tr th{
    padding: 2rem;
}


#dashboard table{
    margin: 4rem 0rem;
}

#dashboard td a:hover{
color:rgb(216, 191, 191);     
}

#edit:hover, #delete:hover, #dashboard td a:hover{
    cursor: pointer;
} */

