/*General
========================================================================== */

html {
  font-size: 62.5%;
}

.hidden,
.createMobile,
.displayNone,
#hidden {
  display: none;
}

main {
  min-height: 100vh;
}

input {
  padding: 0.5rem 1rem;
}

#dashboard,
#posts .expandedPostComments .post,
#posts .expandedPostComments,
#posts .trimmedPost,
#posts .post,
#expandedPost .postContainer,
#posts #options {
  position: relative;
}

textarea,
button,
a,
span,
input,
small,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #483a3a;
}

img,
textarea,
input,
.button,
.button2,
#create,
#reply article,
#posts .trimmedPost,
#posts .post,
#accountSettings .searchHistory,
#accountSettings .blocked,
#posts .displayOptions,
#options button.fa-ellipsis-vertical,
#expandedPost .imageContainer img {
  border-radius: 10px;
}

img,
header,
footer,
header section,
.search input,
header .nav nav,
#posts,
#account .comment,
#account #accountPosts {
  width: 100%;
}

#reply article,
#posts .trimmedPost,
#posts .post,
#account .post {
  background: #f2e5f7;
}

#dashboard input,
#account .settings,
#posts .comment,
#posts .displayOptions,
#posts .expandedPostComments .post .reply,
#account #posts .reply {
  position: absolute;
}

#reply .replyOptions,
#options button.fa-ellipsis-vertical,
#posts #options {
  background: #dcb2ef;
}

.button,
#posts .displayOptions {
  background: #f5ac19;
}

a:hover,
header nav button:hover,
.button,
.button2,
.button:hover,
.search button:hover,
#options button:hover,
#options .fa-comment:hover,
#account .imageContainer {
  cursor: pointer;
}

#account .settings,
#posts .displayOptions,
#create .fa-solid,
#posts .fa-ellipsis-vertical,
#expandedPost #textOnly .fa-ellipsis-vertical,
#posts #reply .fa-ellipsis-vertical {
  align-self: flex-end;
}

header button,
.button,
#posts .fa-ellipsis-vertical,
#posts .displayOptions,
#posts .comment button,
#posts .displayOptions .button2,
#posts #options {
  border: none;
}

a,
a:hover,
.button,
.button2,
.button:hover,
footer .icons a:hover {
  text-decoration: none;
}

span,
p,
textarea,
.button2,
.button {
  font-size: 3rem;
}

/*Images
========================================================================== */

.imageContainer {
  width: 20%;
}

#auth .logoContainer {
  width: 15%;
  margin: 6rem 0rem 16rem 0rem;
}

#auth .fa-google {
  margin-right: 1rem;
}

#auth img {
  max-width: 100%;
}

/*Button
========================================================================== */

.button {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  display: inline-block;
  outline: 0;
  padding: 1.5rem 2.3rem 1.5rem 2.3rem;
  text-align: center;
  text-transform: capitalize;
}

button {
  transition: text-decoration 0.2 ease-in-out;
}

.button2 {
  background: #d395f0;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  display: inline-block;
  outline: 0;
  padding: 1.5rem 2.3rem 1.5rem 2.3rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  border: 3px solid #f5ac19;
}

.button:hover {
  background: #edc575;
  color: #776363;
}

/*Layout
========================================================================== */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.alignCenter {
  align-items: center;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

/*Font
========================================================================== */

h1 {
  font-weight: 600;
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h1:hover {
  color: #826666;
}

a {
  transition:
    color 0.2s ease-in-out,
    font-weight 0.2s ease-in-out;
}

a:hover,
header nav button:hover {
  color: black;
  font-weight: bold;
}

/*Authentication
========================================================================== */

#auth {
  margin-top: 5rem;
}

#auth .button {
  max-width: 15%;
}

/*Header
========================================================================== */
.active {
  text-decoration: underline;
}

header {
  padding: 1rem 0.5rem;
}

header .logoContainer {
  width: 5%;
  margin-right: 2rem;
}

header button {
  background: none;
}

header .nav {
  width: 40%;
}

header nav a,
header nav button {
  font-size: 2.5rem;
}

header .fa-plus {
  margin-right: 2rem;
  font-size: 4rem;
}

/*Search
========================================================================== */

.search button {
  font-size: 2.5rem;
  margin: 0rem 1.5rem;
}

.search {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.search button:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline dotted;
}

/*Create
========================================================================== */

textarea {
  resize: none;
  margin-bottom: 2rem;
}

#create {
  height: 100%;
  background: rgb(225, 193, 239);
  position: fixed;
  z-index: 3;
  padding: 2rem 5rem;
}

#create .button2 {
  margin-bottom: 5rem;
}

#create .fa-solid {
  margin-bottom: 2rem;
}

/*Comics
========================================================================== */

#comics {
  height: auto;
}

#comics .active {
  scroll-snap-type: unset;
}

#comics li {
  scroll-snap-align: center;
  display: inline-block;
}

/*ExpandedPost
========================================================================== */

#expandedPost {
  padding: 4rem 1rem 0rem 1rem;
}

#expandedPost .fa-ellipsis-vertical {
  font-size: 6rem;
}

#expandedPost .fa-ellipsis-vertical:hover {
  color: white;
}

#expandedPost .imageContainer {
  width: 50%;
}

#posts #expandedPost .postContainer p {
  padding: 4rem 2rem;
}

#posts #expandedPost .expandedPostComments p {
  padding: 2rem;
}

#posts #expandedPost .postContainer p {
  align-self: flex-start;
}

.paginatedButton {
  width: 60%;
  margin-bottom: 6rem;
}

#posts #expandedPost .expandedPostComments .post {
  margin-bottom: 20rem;
}

#posts #expandedPost .icons button {
  padding: 0rem;
}

#posts .expandedPostComments .post .reply {
  width: 100%;
  padding: 0 2rem;
  margin-top: 28rem;
}

#posts .expandedPostComments .post .reply .button2 {
  max-height: 10rem;
  margin-left: 2rem;
}

#posts .expandedPostComments .post #options .fa-heart {
  padding: 0rem;
}

#posts .expandedPostComments .post #options .fa-comment {
  margin-left: 1rem;
  margin-right: 0rem;
}

#posts .expandedPostComments .post #options .fa-trash-can {
  padding: 0rem;
  margin-left: 2rem;
}

#posts #expandedPost .postContainer .displayOptions {
  top: -4rem;
  align-self: flex-end;
}

#posts #expandedPost #subscribeButtons {
  margin-left: 61.5rem;
  top: -5rem;
}

#posts #expandedPost .expandedPostComments #subscribeButtons {
  top: 3rem;
}

#posts #expandedPost .expandedPostComments .displayOptions {
  margin-top: 10rem;
}

#posts #expandedPost .expandedPostComments #reply .displayOptions {
  margin-top: 10rem;
}

#reply {
  margin-top: 15rem;
}

#reply article {
  min-height: 10rem;
  border: 3px solid #f5ac19;
  margin-top: 2rem;
}

#reply .replyOptions {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#reply .replyOptions span {
  margin-left: 2rem;
}

#reply .buttons {
  margin: 2rem 0rem;
}

#reply .buttons .button2 {
  margin: 0rem 1rem;
}

#reply p {
  padding: 1rem;
}

#reply .replyOptions .fa-heart,
#reply .replyOptions .fa-trash-can {
  padding-left: 1rem;
}

#reply .replyOptions button {
  background: none;
}

/*Posts
========================================================================== */

#posts {
  margin-right: 2rem;
}

#posts .trimmedPost {
  min-height: 20rem;
}

#posts .post {
  min-height: 15rem;
}

#posts .post,
#posts .trimmedPost {
  margin-bottom: 25rem;
}

#posts .comment {
  width: 100%;
  margin-top: 12rem;
  left: 1rem;
  padding: 0rem;
}

#posts .comment textarea {
  margin: 0rem;
}

#posts #options {
  padding: 2rem;
  margin: 0rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#posts .displayOptions {
  margin-top: 7rem;
  max-width: 60%;
  z-index: 1;
  padding: 1rem;
}

#posts .displayOptions .button2 {
  margin-bottom: 1rem;
}

#posts .textOnly .imageContainer {
  width: 80%;
}

/*Options
========================================================================== */

#options button:hover,
#options .fa-comment:hover {
  color: white;
}

#options button,
#options .fa-comment {
  margin-left: 1rem;
  margin-right: 2rem;
}

#options .fa-comment,
#options button.fa-heart,
#options button.fa-ellipsis-vertical,
#options button.fa-trash-can,
#options button.fa-repeat {
  background: none;
}

#options button.fa-ellipsis-vertical {
  padding: 1.2rem 1rem;
}

#options button,
#options a,
#options span {
  font-size: 4rem;
}

/*Dashboard
========================================================================== */

#dashboard {
  margin-top: 12rem;
  padding: 0rem 2rem;
}

#dashboard .imageContainer {
  width: 50%;
}

#dashboard .post p,
#dashboard .trimmedPost p {
  padding: 1rem 2rem 2rem 2rem;
}

#dashboard .comment .button2,
#expandedPost .comment .button2 {
  padding: 4rem;
}

/*Footer
========================================================================== */

footer {
  padding: 0rem 1rem;
  margin-top: 18rem;
}

#footer {
  margin-top: 0rem;
}

footer h2 {
  text-decoration: underline;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

footer section h3 {
  margin-bottom: 0.3rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.05rem;
  font-size: 1.5rem;
}

footer .icons a {
  font-size: 2.5rem;
}

footer .icons a:hover {
  color: rgb(233, 195, 195);
}

footer .icons,
footer small {
  padding-bottom: 0.5rem;
}

/*Account
========================================================================== */
#account {
  padding: 0rem 2rem;
}

#account h2 {
  text-transform: capitalize;
}

#account .statistics div h2 {
  margin-right: 1rem;
}

#account .statistics {
  padding-top: 2rem;
}

#account .hero {
  margin-left: 2rem;
  margin-top: 10rem;
}

#account .imageContainer {
  margin-left: 4rem;
  min-width: 15%;
}

#account #accountPosts {
  padding: 0rem 2rem;
}

#account #posts {
  margin: 5rem 0rem 0rem 0rem;
}

#account #posts p {
  padding: 2rem;
}

#account #posts .reply {
  margin-top: 25rem;
}

#account .comment .button2 {
  padding: 2.5rem;
}

#account #posts #options .fa-heart {
  padding-left: 0rem;
}

#account .settings {
  z-index: 2;
  margin-top: 24rem;
}

/* Account Settings
========================================================================== */

#accountSettings article {
  padding: 0rem 2rem;
  width: 100%;
  margin-top: 5rem;
}

#accountSettings .blocked,
#accountSettings .searchHistory {
  padding: 2rem;
  margin-right: 2rem;
}

#accountSettings .blocked {
  width: 50%;
}

#accountSettings .searchHistory {
  width: 40%;
}

#accountSettings .blocked h3 {
  text-align: end;
}

#accountSettings .blocked h2,
#accountSettings .searchHistory h2 {
  margin-bottom: 3rem;
}

#accountSettings .blockedAccount,
#accountSettings .searchWord {
  margin-bottom: 4rem;
}

#accountSettings .blocked,
#accountSettings .searchHistory {
  background: #f2e5f7;
  max-height: 82vh;
}

/*Search Results
========================================================================== */

#searchResults,
#searchResults p {
  padding: 2rem;
}

#searchResults .comment .button2 {
  padding: 4rem;
}

#searchResults .imageContainer {
  width: 40%;
}

#searchResults .searchPosts,
#searchResults .searchPosts .paginatedButton {
  width: 100%;
}

#searchResults .searchPosts .paginatedButton {
  justify-content: center;
}
