html {
  font-size: 62.5%;
}

.hidden,
.displayNone {
  display: none;
}

main {
  min-height: 100vh;
}

input{
  color: #483a3a;
  border-radius: 10px;
  padding: .5rem 1rem;
}

a{
  transition:
    color 0.2s ease-in-out,
    font-weight 0.2s ease-in-out;
  color: #483a3a;
}

a:hover, header nav button:hover{
  cursor: pointer;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/*Images
========================================================================== */

img {
  width: 100%;
}

.imageContainer {
  width: 20%;
}

#auth .logoContainer {
  width: 15%;
  margin: 6rem 0rem 16rem 0rem;
}

/*Button
========================================================================== */

.button {
  background: #f5ac19;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  font-size: 3rem;
  outline: 0;
  padding: 1.5rem 2.3rem 1.5rem 2.3rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 10px;
  border: none;
  color: #483a3a;
}

button{
  transition:
    text-decoration 0.2 ease-in-out;
}

.button2{
  background: #c57fe6;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  font-size: 3rem;
  outline: 0;
  padding: 1.5rem 2.3rem 1.5rem 2.3rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 10px;
  border: 2px solid #f5ac19;
  color: #483a3a;
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
  background: #edc575;
  color: #776363;
}

/*Layout
========================================================================== */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd{
  align-items: flex-end;
}

.alignCenter {
  align-items: center;
}


.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

/*Font
========================================================================== */

h1 {
  font-weight: 600;
  font-size: 6rem;
  color: #483a3a;
}

a {
  color: #483a3a;
  text-decoration: none;
}

/*Authentication
========================================================================== */

#auth {
  margin-top: 5rem;
}

#auth .button {
  width: 10.5%;
}

/*Header
========================================================================== */

header{
  padding: 1rem .5rem;
}

header, header section{
  width: 100%;
}

header .logoContainer{
  width: 5%;
  margin-right: 2rem;
}

header button{
  border: none;
  background: none;
}

header .nav{
  width: 30%;
}

header .nav nav{
  width: 100%;
}

header nav a, header nav button{
  font-size: 2.5rem;
  color: #483a3a;
}

header .fa-plus{
  margin-right: 2rem;
  font-size: 4rem;
}

/*Search
========================================================================== */

.search button{
  font-size: 2.5rem;
  margin: 0rem 1.5rem;
}

.search input{
  width: 100%;
}

.search{
  font-size: 2rem;
  margin-bottom: 1rem;
} 

.search button{
  color: #483a3a;
}

.search button:hover{
  cursor: pointer;
  color: black;
  font-weight: bold;
  text-decoration: underline dotted;
}


/*Create
========================================================================== */

textarea{
  color: #483a3a;
  resize: none;
  border-radius: 10px;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#create{
  height: 100%;
  background: rgb(225, 193, 239);
  position: absolute;
  border-radius: 10px;
  padding: 2rem 5rem;
}

#create .button2{
  margin-bottom: 5rem;
}

#create .fa-solid{
  align-self: flex-end;
  margin-bottom: 2rem;
}


/*Comics
========================================================================== */

#myCarousel {
  margin-top: 2rem;
  max-width: 60%;
  min-width: 60%;
}

#comics .active {
  scroll-snap-type: unset;
}

#comics li {
  scroll-snap-align: center;
  display: inline-block;
}

/*Footer
========================================================================== */

footer {
  width: 100%;
  padding: 0rem 1rem;
  margin-top: 18rem;
}

footer h2 {
  text-decoration: underline;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

footer section h3 {
  margin-bottom: 0.3rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.05rem;
}

footer .icons a {
  font-size: 2.5rem;
}

footer .icons a:hover {
  color: rgb(233, 195, 195);
  text-decoration: none;
}

footer .icons,
footer small {
  padding-bottom: 0.5rem;
}
