@media (max-width: 1300px) {
#auth .button{
    max-width: 25%;
}

#auth .logoContainer{
    width: 25%;
}

footer{
    flex-direction: column-reverse;
}

#auth footer .icons{
    justify-content: flex-start;
}

#auth footer li{
    margin-right: 2rem;
}

}


@media (max-width: 900px) {
    #auth .button{
        max-width: 35%;
    }

    #auth .logoContainer{
        width: 35%;
    }

    
    #auth footer h3{
        font-size: 1rem;
    }

}