<section class = 'column flex alignItems' id = 'about'>
    <img src = '/about/Logo.png' class = 'logo'>

    <article class = 'flex'>
    <p>Instead of focusing on an intricate gameplay, Priconne is a game that focuses on other parts instead, such as voice acting, character art cards, the story, as well as offering multiple ways outside of using your premium currency to obtain characters, like free 10 rolls, hard quests that drop character memory pieces, events that give plenty of memory pieces, etc.  The story of the Priconne mobile game defers quite a bit from its anime counterpart, focusing on a more dark tone with the themes and characters; however the game does have a lot of wholesome, lighthearted and comedic aspects to it as well while not detracting from the serious moments either.  </p>
    <p>Princess Connect! Re:Dive is a mobile application that has a lot of similar functions to other Gacha mobile applications, where the user will have a main premium currency that can be consumed with a certain amount in stock for a chance to recieve a specific characters.  The game offers multiple elements, such as story, limited time events with their own respective stories, an arena and princess arena, etc.  The gameplay mostly plays by itself, although if the user chooses to click on a characters' icon when that characters' union burst bar is full, they will be able manually time the usage of that union burst, this games' equivalent of an ultimate move. </p>
    </article>
    
    <p>The story takes place in the village Landosle in the continent of Astria, where it's mostly focuses around the player being a part of the Gourmet Edfice Guild alongside with Kokkoro, Kyaru, and Peko, as you go on adventures and meet many other characters from many guilds, interacting with and aiding them from time to time.  There are also often story cutscenes that will play out that are not only voiced, but fully animated.  While short, they offer another way for the player to immerse themselves into the world of Priconne and connect with the characters and the scenario that is occuring at the time.  </p>
    <a target = '_blank' class = 'video flex justifyContent alignItems' href= "https://www.youtube.com/watch?v=U1IwptQDirM">
        <img src = '/about/Video_Thumbnail.PNG' id = 'video'>
        <button id = 'play' class = 'button'>Play</button>
    </a>
</section>