<section class = 'flex column alignItems' id = 'contact'>
    <h2>Contact Me</h2>
    <form action = '/main/contactEngineer' method = 'POST' class = 'column flex alignItems'>
        <h2>Name</h2> <input class = 'button' type = 'text' name = 'name' required="required" >
        <h2>Email</h2> <input class = 'button' type = 'text' name = 'email' required="required">
        <textarea class = 'button' type = 'text' name = 'text'></textarea>
        <button class = 'button' type ='submit'>Submit</button>

    </form>
</section>


